<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
  </head>
  <body>
    <h1>tervetuloas</h1>

    <form action="/maa" method="post">
      <select name="maanNimi" id="maat">
        <% for(let i = 0; i < maat.length; i++) { %>
        <option value="<%= maat[i] %>"><%= maat[i] %></option>

        <% } %>
      </select>

      <button type="submit">Hae tiedot</button>
    </form>

    <div class="div">
      <h1>maa : <%= maa %></h1>
      <h1>asukasluku : <%= asukasluku %></h1>
      <h1>lippu : <%= flagUrl %></h1>
      <h1>pääkaupunki : <%= paakaupunki %></h1>
    </div>
  </body>
</html>
